<div class="jumbotron" id ="welcome" style='text-align: center;'>
<% if session[:user_id] %>
		  <h2 class="text-primary">Welcome, <strong><%= user.username %>!</strong></h2>
		<br>
		<blockquote>
		  <p>If music be the food of love, play on.</p>
		  <small>William Shakespeare</small>
		</blockquote>

<% else %>
  <p>Welcome!</p>
  <h1>BeaxIt</h1>
  <p>This is a simple site to organize your music needs.</p>
  <p><a href="/signup" id="signup" class="btn btn-primary btn-lg" >Sign up</a> <a href="/login" id="login" class="btn btn-primary btn-lg" >Login</a></p>
<% end %>

</div>

<div id="showsignup"> <%= erb :'/signup' %> </div>
<div id="showlogin"> <%= erb :'/login' %> </div>
<% if session[:user_id] %>

	<%= erb :"searchapi" %>
	<br>
	<br>
  <%= erb :"playlists/all", locals:{playlists: playlists} %>
<% end %>
